@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Serif", serif;
  background: rgb(0, 0, 1);
  background: linear-gradient(248deg, rgba(0, 0, 1, 1) 0%, rgba(2, 1, 32, 1) 15%, rgba(3, 1, 64, 1) 46%, rgba(179, 3, 3, 1) 50%, rgba(3, 1, 64, 1) 54%, rgba(2, 1, 32, 1) 85%, rgba(0, 0, 1, 1) 100%);
}

.navbar {
  background: rgb(2, 1, 32);
  background: linear-gradient(180deg, rgba(2, 1, 32, 1) 0%, rgba(2, 1, 32, 0.01) 100%);
}

.nav-link {
  color: azure;
}

.nav-link:hover {
  color: rgba(179, 3, 3, 1);
}


.footer {
  background: rgb(2, 1, 32);
  background: linear-gradient(180deg, rgba(2, 1, 32, 0.01) 0%, rgba(2, 1, 32, 1) 100%);
  margin-top: 12rem;
}

.modal {
  background: rgba(3, 1, 64, 0.753);
}

.logo-img {
  width: 150px;
  height: auto;
}

/* Home */
.cover {
  background-image: url(/public/Since1999_Home.png);
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 15px;
}

.cover * {
  color: white;
}

h1,
h2, h3 {
  color: azure;
  text-shadow: 1px 1px 1px rgba(2, 1, 32, 1);
  margin: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 38px;
}
h3{
  font-size: 30px;
}


a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.card {
  background-color: rgba(2, 1, 32, 0.753);
  box-shadow: 2px 2px 2px rgba(179, 3, 3, 1);
  border-radius: 5%;
  color: azure;
  text-align: center;
}
.nws-card{
  background-color: rgb(2, 1, 32);
}

.social-links p {
  font-size: 22px;
  color: azure;
  text-shadow: 2px 2px 2px black;
  margin: 1rem;
}

.social-logo:hover {
  transform: translate3d(0, 3px, 0);
}

/*Modale*/
.modal-content {
  background-color: #020c23ec;
  box-shadow: 3px 3px 3px black;
  border-radius: 5%;
  color: azure;
  text-align: center;
}

/*Profilo*/
.profileContainer{
  display: flex;
  justify-content: space-around;
  max-width: 50rem;
  height: auto;
  background: rgba(2, 1, 32, 1);
  box-shadow: 2px 2px 2px rgba(179, 3, 3, 1);
  color: azure;
  padding: 2rem;
  transition: 0.4s ease;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .profileContainer{
    flex-direction: column;
    align-items: center;
  }
}
/*Immagini*/
.imgIcon{
  width: 2.5rem;
  height: 2.5rem;
  border: 1px ridge rgba(179, 3, 3, 1);
  border-radius: 50%;
  margin: 5px;

}
.img-card {
  width: 85%;
  border: 2px ridge rgba(179, 3, 3, 1);
}

.imgLive-card {
  width: 90%;
  height: 15rem;
  border: 1px ridge rgba(179, 3, 3, 1);
  cursor: pointer;
}

.imgNws-card {
  width: 100%;
  height: 16rem;
  border-radius: 2%;
}

.imgTour-card {
  width: 100%;
  height: 12rem;
  border: 2px ridge rgba(179, 3, 3, 1);
  cursor: pointer;
}

.imgEvent-card {
  width: 100%;
  height: 16rem;
  border: 3px ridge rgba(179, 3, 3, 1);
  cursor: pointer;
  border-radius: 10%;
}

.imgHome-card {
  width: 100%;
  height: auto;
  border: 3px ridge rgba(179, 3, 3, 1);
  box-shadow: 3px 3px 3px black;
}
.imgProfile-card{
  width: 16rem;
  height: 16rem;
  border: 2px ridge rgba(179, 3, 3, 1);
}

.prog {
  padding: 10px 0;
}

.prog-bar {
  width: 100%;
  height: 10px;
  padding: 1px;
  border-radius: 25px;

  background: rgba(254, 254, 254, 0.756);
  box-shadow: 3px 3px 3px rgba(179, 3, 3, 1),
    -3px -3px 3px rgba(179, 3, 3, 1);

}

.prog-bar-inner {
  height: 8px;
  background: rgba(3, 1, 64, 1);
  border-radius: 25px;
}

.prog-bar-inner.playing {
  animation: timer 30s linear 0.1s;
}

.player {
  margin: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: #0454BF;
}

.button:hover {
  color: azure;
  background: transparent;
  border: 1px solid;
  text-decoration: none;
  transform: translate3d(0, 2px, 0);
}

.button-nws {
  color: black;
  width: 10rem;
  height: 3rem;
}

.button-lg {
  box-shadow: inset 8px 8px 8px rgba(179, 3, 3, 1);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
}

.button-lg:hover {
  color: azure;
  text-decoration: none;
  transform: translate3d(0, 2px, 0);
}

.regClass {
  font-size: 18px;
  color: azure;
}
label{
  color: azure;
  margin: 12px;
}

/*Footer*/
.row {
  --bs-gutter-x: 0;
}

.footer-links {
  text-align: left;
  font-size: 0.8em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: azure;
}

.footer-links a {
  color: azure;
  text-decoration: none;
}

.footer-button {
  color: azure !important;
  border-color: azure !important;
}

.footer-links a:hover {
  color: rgba(179, 3, 3, 1) !important;
}

.copyright {
  color: azure;
  font-size: 0.6em;
}


/*      keyframes   */
@keyframes timer {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes rolling-disk {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}


/*Eventi*/
.design-section {
  color: azure;
  padding: 40px;
}

.custom-timeline {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {

  .timeline-item,
  .reverse {
    flex-direction: column;
  }
}


.timeline-content {
  width: 28em;
  height: auto;
  background: rgba(2, 1, 32, 1);
  box-shadow: 2px 2px 2px rgba(179, 3, 3, 1);
  color: azure;
  padding: 1.75rem;
  transition: 0.4s ease;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

@media screen and (max-width: 400px) {
  .timeline-content {
    width: 18em;
  }

  .design-section {
    padding: 8px;
  }
}

@media screen and (max-width: 550px) {
  .timeline-content {
    width: 21.5em;
  }

  .design-section {
    padding: 20px;
  }
}

.date-square {
  display: flex;
  align-items: center;
}

.data-box {
  font-size: 32px;
  box-shadow: 1px 1px 1px rgba(179, 3, 3, 1);
  border-radius: 5px;
  cursor: pointer;
}

/*Quiz*/
.react-quiz-container {
  max-width: 48rem !important;
  height: auto;
  background: rgba(2, 1, 32, 1);
  box-shadow: 2px 2px 2px rgba(179, 3, 3, 1);
  color: azure;
  padding: 2rem;
  transition: 0.4s ease;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.startQuizBtn {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure !important;
  background-color: #0454BF !important;
  border: none !important;
  border-radius: 5px !important;
}

.startQuizBtn:hover {
  color: azure;
  background: transparent !important;
  border: 1px solid;
  text-decoration: none;
  transform: translate3d(0, 2px, 0);
}

.questionWrapper img {
  width: 24em !important;
  height: auto !important;
  border: 2px ridge rgba(179, 3, 3, 1);
}

.tag-container span {
  display: none;
}

.answerBtn,
.nextQuestionBtn {
  color: azure;
  max-width: 24rem;
  text-align: center !important;
}

/*Carousel*/
.custom-carousel .carousel-slider .zoom-effect img {
  transform: scale(1.1);
  /* Effetto di zoom */
}

.custom-carousel .carousel-slider .slide {
  transition: opacity 0.5s ease-in-out;
  /* Effetto di dissolvenza */
}

.custom-carousel .carousel-slider .slide.carousel-slide {
  opacity: 0;
}

.custom-carousel .carousel-slider .slide.carousel-slide.carousel-slide-selected {
  opacity: 1;
}

/*Polaroid*/
.polaroid-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50rem;
}
.photo-gallery{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.photo {
  position: absolute;
  background-color: azure;
  width: 22rem;
  height: auto;
  padding: 1rem;
  padding-bottom: 3rem;
  margin: 5rem;
  z-index: 1;
}


.photo:nth-last-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
  top: 26rem;
  left: 9rem;
  z-index: 4;
}
.photo:nth-last-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
  top: -2rem;
  left: 3rem;
  z-index: 4;
}
.photo:nth-last-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
  top: 22rem;
  left: -8rem;
  z-index: 3;
}
.photo:nth-last-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
  top: 1rem;
  left: -7rem;
  
}
.photo:nth-last-of-type(4n+5) {
  transform: scale(0.8, 0.8) rotate(7deg);
  transition: all 0.35s;
  top: 1rem;
  left: 17rem;
}
.photo:nth-last-of-type(4n+6) {
  transform: scale(0.8, 0.8) rotate(4deg);
  transition: all 0.35s;
  top: 15rem;
  left: 14rem;
  z-index: 2;
}
.photo:nth-last-of-type(4n+7) {
  transform: scale(0.8, 0.8) rotate(-4deg);
  transition: all 0.35s;
  top: 12rem;
  left: -9rem;
}
.photo:nth-last-of-type(4n+8) {
  transform: scale(0.8, 0.8) rotate(4deg);
  transition: all 0.35s;
  top: 12rem;
  left: 1rem;
  z-index: 3;
}
.photo img {
  width: 100%;
  height: auto;
}
/* Media query per rendere il layout più responsive */
@media screen and (max-width: 1080px) {
  .polaroid-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi lungo l'asse orizzontale */
    height: auto;
  }
  
  /* Rimuovi tutte le proprietà della galleria */
  .photo-gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

  .photo {
    background-color: azure;
    width: 18rem;
    height: auto;
    padding: 0.5rem;
    padding-bottom: 2rem;
    margin: 1rem;
    position: static;
  }
  .photo:nth-child(even) {
    transform: rotate(2deg);
  }
  .photo:nth-child(odd) {
    transform: rotate(-2deg);
  }

  .no-cell{
    display: none;
  }

}
@media screen and (max-width: 550px){
  .photo{
    width: 19rem;
  }
}

/*Login*/
.login{
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}
.logToReg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media screen and (max-width: 890px){
  .login{
    flex-direction: column;
    align-items: center;
  }
  .logToReg{
    align-items: center;
  }
  
}

