@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Noto Serif", serif;
  margin-top: 8rem;
  background: rgb(4,2,79);
background: linear-gradient(253deg, rgba(4,2,79,0.720500700280112) 0%, rgba(2,12,148,1) 22%, rgba(5,30,201,1) 46%, rgba(27,127,200,0.25271358543417366) 57%, rgba(246,3,3,1) 70%, rgba(246,3,3,1) 81%, rgba(140,4,4,0.25271358543417366) 100%);
}

.navbar, .footer, .modal{
  background: rgba(247, 214, 214, 0.84);
}

.logo-img {
  width: 150px;
  height: auto;
}

/* Home */
.cover{
  background-image: url(/public/Since1999_Home.png);
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 15px;
}
.cover *{
  color: white;
}

h1, h2{
  color: azure;
  text-shadow: 2px 2px 2px black;
  margin: 10px;
  margin-bottom: 20px;
}
h1{
  font-size: 56px;
}
h2{
  font-size: 36px;
}


a {
  text-decoration: none;
}
a:hover{
  color: inherit;
}

.card{
  background-color: #0204096d;
  box-shadow: 3px 3px 3px black;
  border-radius: 5%;
  color: azure;
  text-align: center;
}

.social-links p{
  font-size: 22px;
  color: azure;
  text-shadow: 2px 2px 2px black;
  margin: 1rem;
}

.social-logo:hover{
  transform: translate3d(0, 3px, 0);
}

/*Modale*/
.modal-content{
  background-color: #020c23ec;
  box-shadow: 3px 3px 3px black;
  border-radius: 5%;
  color: azure;
  text-align: center;
}

.img-card{ 
  border-radius: 20%;
  width: 85%;
  border: 5px ridge red;
}

.imgLive-card{
  border-radius: 20%;
  width: 95%;
  height: 15rem;
  border: 5px ridge red;
  cursor: pointer;
}

.imgTour-card{
  width: 100%;
  height: 12rem;
  border: 3px ridge red;
  cursor: pointer;
}

.imgHome-card{
  width: 100%;
  height: auto;
  border: 3px ridge red;
  box-shadow: 3px 3px 3px black;
}

.prog {
  padding: 10px 0;
}
.prog-time {
  padding: 3px 5px;
  color: var(--prog);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.prog-time > p {
  font-size: 0.65rem;
}

.prog-bar {
  width: 100%;
  height: 10px;
  padding: 1px;
  border-radius: 25px;

  background: rgba(225, 223, 223, 0.836);
  box-shadow:  3px 3px 3px #f53b3b, 
              -3px -3px 3px #f53b3b;

}

.prog-bar-inner {
  height: 8px;
  background: rgba(5, 5, 124, 0.888);
  border-radius: 25px;
}

.prog-bar-inner.playing {
  animation: timer 30s linear 0.1s;
}

.player {
  margin: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 6px 6px 12px #f53b3b, 
          inset -6px -6px 12px rgba(5, 5, 124, 0.888),
          2px 2px 2px black
}
.button:hover{
  color: azure;
  text-decoration: none;
  transform: translate3d(0, 2px, 0);
}

.button-nws{
  color: black;
  width: 10rem;
  height: 3rem;
}

.button-lg {
  border-radius: 30%;
  width: 3.25rem;
  height: 3.25rem;      
}

.regClass{
  font-size: 18px;
  color: azure;
  text-shadow: 1px 1px 1px black;
}

/*Footer*/
.row {
  --bs-gutter-x: 0;
}

.footer-links {
  text-align: left;
  font-size: 0.8em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-button {
  color: #838383 !important;
  border-color: #838383 !important;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}


/*      keyframes   */
@keyframes timer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rolling-disk {
  0%      {transform: rotate(0);}
  100%    {transform: rotate(1turn);}
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
